---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - api_key0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2025-05-13T00:51:15.929Z","error_code":0,"error_message":null,"elapsed":97,"credit_count":1,"notice":null,"total_count":9791},"data":[{"id":1,"name":"Bitcoin","symbol":"BTC","slug":"bitcoin","num_market_pairs":12063,"date_added":"2010-07-13T00:00:00.000Z","tags":["mineable","pow","sha-256","store-of-value","state-channel","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures-portfolio","galaxy-digital-portfolio","huobi-capital-portfolio","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital-portfolio","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-portfolio","bitcoin-ecosystem","ftx-bankruptcy-estate","2017-2018-alt-season","us-strategic-crypto-reserve"],"max_supply":21000000,"circulating_supply":19863978,"total_supply":19863978,"infinite_supply":false,"platform":null,"cmc_rank":1,"self_reported_circulating_supply":null,"self_reported_market_cap":null,"tvl_ratio":null,"last_updated":"2025-05-13T00:50:00.000Z","quote":{"USD":{"price":102419.03934876205,"volume_24h":63220579812.75546,"volume_change_24h":39.3769,"percent_change_1h":-0.52746499,"percent_change_24h":-1.99801896,"percent_change_7d":8.38914019,"percent_change_30d":19.98124155,"percent_change_60d":25.56665993,"percent_change_90d":6.63043801,"market_cap":2034449544404.9436,"market_cap_dominance":61.7921,"fully_diluted_market_cap":2150799826324,"tvl":null,"last_updated":"2025-05-13T00:50:00.000Z"}}},{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","num_market_pairs":10289,"date_added":"2015-08-07T00:00:00.000Z","tags":["pos","smart-contracts","ethereum-ecosystem","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","[...]
