---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - api_key0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2025-03-05T09:15:36.283Z","error_code":0,"error_message":null,"elapsed":34,"credit_count":1,"notice":null,"total_count":10793},"data":[{"id":1,"name":"Bitcoin","symbol":"BTC","slug":"bitcoin","num_market_pairs":11969,"date_added":"2010-07-13T00:00:00.000Z","tags":["mineable","pow","sha-256","store-of-value","state-channel","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures-portfolio","galaxy-digital-portfolio","huobi-capital-portfolio","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital-portfolio","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-portfolio","bitcoin-ecosystem","ftx-bankruptcy-estate","2017-2018-alt-season","us-strategic-crypto-reserve"],"max_supply":21000000,"circulating_supply":19832484,"total_supply":19832484,"infinite_supply":false,"platform":null,"cmc_rank":1,"self_reported_circulating_supply":null,"self_reported_market_cap":null,"tvl_ratio":null,"last_updated":"2025-03-05T09:12:00.000Z","quote":{"USD":{"price":88144.52776755019,"volume_24h":57509935510.39606,"volume_change_24h":-21.2028,"percent_change_1h":0.51469762,"percent_change_24h":4.83961252,"percent_change_7d":-0.47705976,"percent_change_30d":-8.09761944,"percent_change_60d":-9.9034539,"percent_change_90d":-14.5080334,"market_cap":1748124936637.4949,"market_cap_dominance":60.1924,"fully_diluted_market_cap":1851035083118.55,"tvl":null,"last_updated":"2025-03-05T09:12:00.000Z"}}},{"id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","num_market_pairs":9960,"date_added":"2015-08-07T00:00:00.000Z","tags":["pos","smart-contracts","ethereum-ecosystem","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","heco-ecosystem","binance-labs-portfolio","avalanche-ecosystem","solana-ecosystem","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dr[...]
