---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/trending/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - api_key0
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": {
                "timestamp": "2025-03-07T08:33:00.327Z",
                "error_code": 1006,
                "error_message": "Your API Key subscription plan doesn't support this endpoint.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Fri, 07 Mar 2025 08:33:00 GMT
recorded_with: VCR 6.3.1
