---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/trending/most-visited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - api_key0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2025-03-07T11:33:36.147Z",
                "error_code": 1001,
                "error_message": "This API Key is invalid.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Fri, 07 Mar 2025 11:33:35 GMT
recorded_with: VCR 6.3.1
