---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v2/cryptocurrency/market-pairs/latest?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - api_key0
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": {
                "timestamp": "2025-05-13T00:51:17.465Z",
                "error_code": 1006,
                "error_message": "Your API Key subscription plan doesn't support this endpoint.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Tue, 13 May 2025 00:51:17 GMT
recorded_with: VCR 6.3.1
